{{- $name := promptString "name" -}}
{{- $email := promptString "email" -}}
{{- $wallpaper := promptString "wallpaper" -}}
[data]
  name = "{{ $name }}"
  email = "{{ $email }}"
  wallpaper = "{{ $wallpaper }}"
