{{- $name := promptString "name" -}}
{{- $email := promptString "email" -}}
{{- $wallpaperPath := promptString "wallpaper path" -}}
[data]
  name = "{{ $name }}"
  email = "{{ $email }}"
  wallpaperPath = "{{ $wallpaperPath }}"
